[Unit]
Wants=network-online.target
After=network-online.target
Description=Digital Ocean Dynamic DNS (dodd)

[Service]
Type=oneshot
# Set up your dodd command below. You can run "dodd --help" for reference.
ExecStart=/usr/bin/dodd -t <DigitalOceanApiToken> -d <yourDomain.tld> -r <domainRecordTitle>

[Install]
WantedBy=multi-user.target