[Unit]
Description=Run dodd automatically

[Timer]
# Set up the time interval at which to run, see https://www.freedesktop.org/software/systemd/man/systemd.time.html
# By default it runs every hour.
OnCalendar=hourly
 
[Install]
WantedBy=timers.target